.deal-title {
	font-size: 18px;
	padding: 10px; 
}	

.deal-description {
	font-size: 12px;
}

.deal-coupon {
	padding: 10px; 
}

.deal-poster-image {
	padding: 37px;
}

.deal {
	padding-bottom: 20px;
}

.deal-comment {
	padding: 10px;
}

.pb-cmnt-container {
        font-family: Lato;
        margin-top: 100px;
 }
 
.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}
