.deal-title {
	font-size: 18px;
	padding: 10px; 
}	

.deal-description {
	font-size: 12px;
}

.deal-coupon {
	padding: 10px; 
}

.deal-poster-image {
	padding: 37px;
}

.site-header {
	margin-top: 20px;
}
.deal {
	padding-bottom: 20px;
}

#submit-deal-form {
	margin-top: 20px;
}
.deal-comment {
	padding: 10px;
}

@media screen and (max-width:768px){
	body {
		text-align: center;	
	}
	.deal-poster-image {
		display: none;
	}
}
